.welcome-page {

}

.player-scores-container {
  display: block;
}

.player-one-score-container,
.player-two-score-container,
.player-three-score-container {
  display: inline-block;
}

.puzzle-grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(4, 60px);
  grid-template-columns: repeat(14, 60px);
  width: 840px;
}

.puzzle-grid-square {
  border: 1px solid blue;
}

.puzzle-grid-square-top-left,
.puzzle-grid-square-top-right,
.puzzle-grid-square-bottom-left,
.puzzle-grid-square-bottom-right {
  border: none;
}

.button-section {
  position: relative;
}

.hidden-guess-section {
  display: none;
}

.spin-the-wheel {
  height: 100px;
  width: 50%;
  display: none;
  position: absolute;
  background: #3700DC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-letter-input {
  height: 50px;
  background: none;
  border-bottom: 2px solid black;
  border-left: none;
  border-top: none;
  border-right: none;
}


.guess-letter-btn {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color: #33bdef;
  border-radius: 20px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 33px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}

.guess-letter-btn:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  background-color: #019ad2;
}

.guess-letter-btn: active {
  position: relative;
  top: 1px;
}


.wheel-prize-display {
  float: right;
  margin-right: 50px;
}