* {
  outline: none;
}

@font-face {
  font-family: 'fortune';
  src: url('SF Fortune Wheel.ttf');
}

@-webkit-keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

body {
  background-image: url("images/game-background.jpg");
  opacity: .9;
  background-size: cover;
}

.display-mode-none {
  display: none;
}

.background-change {
  background-color: grey;
}

.welcome-page {
  text-align: center;
}

.welcome-page-title {
  font-family: fortune;
  margin-top: 200px;
}

.welcome-page-player1-name,
.welcome-page-player2-name,
.welcome-page-player3-name {
  font-family: 'fortune';
  font-weight: lighter;
}

.player-name-submit-form {
  height: 40px;
}

.player-name-input,
.submit-players-button {
  box-sizing: border-box;
  border: 2px solid #000;
  height: 100%;
  vertical-align: middle;
}

.player-name-input {
  border-right: none;
  font-size: 28px;
  width: 30%;
}

.submit-players-button {
  background-color: #865AB7; background-image: -webkit-gradient(linear, left top, left bottom, from(#865AB7), to(#3D2B81));
  border-left: none;
  margin-left: -4.1px;
  width: 40px;
}

.submit-players-button:hover {
  background-color: #865AB7; background-image: -webkit-gradient(linear, left top, left bottom, from(#5d3e80), to(#24194d));
}

.start-game-button {
  width: 80px;
}

.start-game-button-text {
 color: #fff;
 font-family: 'fortune';
 font-size: 12px;
 font-weight: lighter;
 margin-top: 6px;
 animation: opacityPulse 2s ease-out;
 animation-iteration-count: infinite;
 opacity: 1;
}

.fa-check-circle {
  color: #fff;
  font-size: 20px;
}

.main-game-display-grid {
  display: grid;
  grid-template-areas: "player-scores game-wheel"
                       "game-board game-wheel"
                       "puzzle-category game-wheel"
                       "button-section button-section";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 350px 30px 1fr;
}

.white-tile {
  background: white;
}

.player-scores-container {
  grid-area: player-scores;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.player1-background, 
.player2-background,
.player3-background {
  background: #ADD8E6;
}

.player1-score-container,
.player2-score-container,
.player3-score-container {
  display: inline-block;
  height: 125px;
  width: 200px;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.player-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-shadow: 0px 3px 0px #b2a98f,
                 0px 5px 10px rgba(0,0,0,0.15),
                 0px 5px 2px rgba(0,0,0,0.1),
                 0px 5px 30px rgba(0,0,0,0.1);
  margin: 5px 0 0 0;
}

.player-score-container {
  text-align: center;
}

.player-score {
  font-size: 18px;
  text-align: left;
  margin-left: 5px;
  text-shadow: 0px 3px 0px #b2a98f,
               0px 5px 10px rgba(0,0,0,0.15),
               0px 5px 2px rgba(0,0,0,0.1),
               0px 5px 30px rgba(0,0,0,0.1);
}

.puzzle-grid-container {
  grid-area: game-board;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(5, 70px);
  grid-template-columns: repeat(16, 60px);
  max-height: 370px;
  width: 840px;
  margin-left: 50px;
}

.puzzle-grid-square {
  border: 2px solid black;
  position: relative;
}

.top-tile {
  box-shadow: 0px -9px 0px 0px #ADD8E6;
  border-top: 4px solid black;
}

.bottom-tile {
  border-bottom: 4px solid black;
  box-shadow: 0px 9px 0px 0px #ADD8E6;
}

.top-left-tile {
  border-top: 4px solid black;
  border-left: 4px solid black;  
  box-shadow: 0px -9px 0px 0px #ADD8E6,
              -9px 0px 0px 0px #ADD8E6,
              -9px -9px 0px 0px #ADD8E6;
}

.top-right-tile {
  border-top: 4px solid black;
  border-right: 4px solid black;
  box-shadow: 0px -9px 0px 0px #ADD8E6,
              9px 0px 0px 0px #ADD8E6,
              9px -9px 0px 0px #ADD8E6;
}

.bottom-left-tile {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  box-shadow: 0px 9px 0px 0px #ADD8E6,
              -9px 0px 0px 0px #ADD8E6,
              -9px 9px 0px 0px #ADD8E6;
}

.green-tile {
  background-image: url("images/WheelOfFortune.png");
}

.bottom-right-tile {
  border-bottom: 4px solid black;
  border-right: 4px solid black;  
  box-shadow: 0px 9px 0px 0px #ADD8E6,
              9px 0px 0px 0px #ADD8E6,
              9px 9px 0px 0px #ADD8E6;
}

.puzzle-grid-square-top-left,
.puzzle-grid-square-top-right,
.puzzle-grid-square-bottom-left,
.puzzle-grid-square-bottom-right {
  border: none;
}

.puzzlecategory-section {
  grid-area: puzzle-category;
}

.puzzle-category {
  color: #fff;
  font-family: 'fortune';
  font-weight: lighter;
/*  grid-column: 1 / 15;*/
  text-align: center;
}

/*Start of game wheel styling*/

.game-wheel {
  grid-area: game-wheel;
  height: 100%;
  width: 100%;
}

.wheel-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

}

.wheel-pie-piece {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid blue;
  border-width: 300px 40px 0;
  transform-origin: 40px 299px;
  right: -40px;

}

.bankrupt {
  color: white;
  font-size: 23px;
  margin-left: -13px;
}

.sec-2 {
  transform: rotate(15deg);
  border-color: #FCFA00 transparent;
}

.sec-3 {
  transform: rotate(30deg);
  border-color: #FF0000 transparent;
}

.sec-4 {
  transform: rotate(45deg);
  border-color: #00BAFF transparent;
}

.sec-5 {
  transform: rotate(60deg);
  border-color: #FF5900 transparent;
}

.sec-6 {
  transform: rotate(75deg);
  border-color: #BC68DD transparent;
}

.sec-7 {
  transform: rotate(90deg);
  border-color: #FCFA00 transparent;
}

.sec-8 {
  transform: rotate(105deg);
  border-color: #FFFFFF transparent;
}

.sec-9 {
  transform: rotate(120deg);
  border-color: #FF0000 transparent;
}

.sec-10 {
  transform: rotate(135deg);
  border-color: #00BAFF transparent;
}

.sec-11 {
  transform: rotate(150deg);
  border-color: #00C27C transparent;
}

.sec-12 {
  transform: rotate(165deg);
  border-color: #FF919A transparent;
}

.sec-13 {
  transform: rotate(180deg);
  border-color: #000000 transparent;
}

.sec-14 {
  transform: rotate(195deg);
  border-color: #BC68DD transparent;
}

.sec-15 {
  transform: rotate(210deg);
  border-color: #00FFFF transparent;
}

.sec-16 {
  transform: rotate(225deg);
  border-color: #00BAFF transparent;
}

.sec-17 {
  transform: rotate(240deg);
  border-color: #FFFFFF transparent;
}

.sec-18 {
  transform: rotate(255deg);
  border-color: #FF0000 transparent;
}

.sec-19 {
  transform: rotate(270deg);
  border-color: #BC68DD transparent;
}

.sec-20 {
  transform: rotate(285deg);
  border-color: #FF919A transparent;
}

.sec-21 {
  transform: rotate(300deg);
  border-color: #00C27C transparent;
}

.sec-22 {
  transform: rotate(315deg);
  border-color: #FF5900 transparent;
}

.sec-23 {
  transform: rotate(330deg);
  border-color: #000000 transparent;
}

.sec-24 {
  transform: rotate(345deg);
  border-color: #00C27C transparent;
}

.wheel-prize-text {
    margin-top: -275px;
    color: black;
    position: relative;
    z-index: 10000000;
    display: block;
    text-align: center;
    font-size: 36px;
    margin-left: -21px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.lose {
  font-size: 20px;
  margin-left: -23px;
}

.lose-a-turn {
  font-size: 20px;
  writing-mode: horizontal-tb;
  text-orientation: initial;
}

/*End of game wheel styling*/

.button-section {
  grid-area: button-section;
  position: relative;
}

.guessed-letter-list {
  color: #fff;
  font-family: 'fortune';
  font-weight: lighter;
}

.hidden-guess-section {
  display: none;
}

.spin-the-wheel {
  align-items: center;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: left;
  background: #3700DC;
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: center;
  position: absolute;
  width: 90%;
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 300%
  }
  
  to {
    margin-right:90%;
    width: 90%;
  }
}

.guess-letter-input {
  height: 50px;
  background: none;
  border-bottom: 2px solid black;
  border-left: none;
  border-top: none;
  border-right: none;
  font-family: 'fortune';
  font-size: 40px;
  font-weight: lighter;
  text-transform: uppercase;
  width: 50px;
}


.guess-letter-btn,
.purchase-vowel-btn {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 20px;
  border: 1px solid #057fd0;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0px -1px 0px #5b6178;
  margin-left: 15px;
  margin-right: 20px;
}

.guess-letter-btn:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.guess-letter-btn: active {
  position: relative;
  top: 1px;
}


.wheel-prize-display {
  
}

