* {
  outline: none;
}

@font-face {
  font-family: 'fortune';
  src: url('SF Fortune Wheel.ttf');
}

@-webkit-keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

.display-mode-none {
  display: none;
}

.welcome-page {
  text-align: center;
}

.welcome-page-title {
  font-family: fortune;
  margin-top: 200px;
}

.player-name-submit-form {
  height: 40px;
}

.player-name-input,
.submit-players-button {
  box-sizing: border-box;
  border: 2px solid #000;
  height: 100%;
  vertical-align: middle;
}

.player-name-input {
  border-right: none;
  caret-width: 4px;
  font-size: 28px;
  width: 30%;
}

.submit-players-button {
  background-color: #865AB7; background-image: -webkit-gradient(linear, left top, left bottom, from(#865AB7), to(#3D2B81));
  border-left: none;
  margin-left: -4.1px;
  width: 40px;
}

.start-game-button {
  width: 80px;
}

.start-game-button-text {
  color: #fff;
  font-family: 'fortune';
  font-size: 12px;
  font-weight: lighter;
  margin-top: 6px;
  animation: opacityPulse 2s ease-out;
  animation-iteration-count: infinite; 
  opacity: 1;
}

.submit-players-button:hover {
  background-color: #865AB7; background-image: -webkit-gradient(linear, left top, left bottom, from(#5d3e80), to(#24194d));
}

.fa-check-circle {
  color: #fff;
  font-size: 20px;
}

.welcome-page-player1-name,
.welcome-page-player2-name,
.welcome-page-player3-name {
  font-family: 'fortune';
  font-weight: lighter;
}

.player-scores-container {
  display: block;
}

.player-one-score-container,
.player-two-score-container,
.player-three-score-container {
  display: inline-block;
}

.puzzle-grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(4, 60px);
  grid-template-columns: repeat(14, 60px);
  width: 840px;
}

.puzzle-grid-square {
  border: 1px solid blue;
}

.puzzle-grid-square-top-left,
.puzzle-grid-square-top-right,
.puzzle-grid-square-bottom-left,
.puzzle-grid-square-bottom-right {
  border: none;
}

.wheel-prize-display {
  float: right;
  margin-right: 50px;
}

